<%- include('../partials/header') %>
hello
<table id="list">
  <thead>
    <tr>
      <th>Airline</th>
      <th>Airport</th>
      <th>Flightnum</th>
      <th>FlightDeparting</th>
    </tr>
  </thead>

<section id="show-page">
  <div>Airlines: </div>
  <div><%= flight.airline %></div>
  <div>Airport: </div>
  <div><%= flight.airport %></div>
  <div>Flight Number: </div>
  <div><%= flight.flightNo %></div>
  <div>Departing: </div>
  <div><%= flight.departs %></div>
  <div>Departs: </div>
</section>
<br><br><h2>Destinations</h2>
<form method="POST"
  action="/flights/<%= flight._id %>/destinations"> 
  <label>Airport:
    <select id="airport-destination" name="airport">
        <option value="AUS">AUS</option>
        <option value="DFW">DFW</option>
        <option value="DEN">DEN</option>
        <option value="LAX">LAX</option>
        <option value="SAN">SAN</option>
    </select>
  </label><br>
  <label>Arrival:</label>
  <input type="datetime-local" name="arrival">
  </label><br>
  <input type="submit" value="Add Destination">
</form>
  
  </table>
  <% if (flight.destinations.length) { %>
    <table>
      <thead>
        <tr>
          <th>Airline</th>
          <th>Airport</th>
          <th>FlightNo</th>
          <th>Arrivals</th>
        </tr>
      </thead>
      <tbody>
        <% flight.destinations.forEach(function(f) { %>
          <tr>
            <td><%= f.airline %></td>
            <td><%= f.airport %></td>
            <td><%= f.flightNo %></td>
            <td><%= f.arrival %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  <% } else { %>
    <h5>No Destinations Yet</h5>
  <% } %>
  <br><br><h2>Tickets:</h2>
  <a class="button" id="btnn" href="/flights/<%= flight._id %>/tickets/new">New Ticket</a>
  <% if (tickets.length) { %>
  <table>
    <thead>
      <tr>
        <th>Seat</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <% tickets.forEach(function(t) { %>
        <tr>
          <td><%= t.seat %></td>
          <td><%= t.price %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
<% } else { %>
  <h5>No Tickets</h5>
<% } %>







<%- include('../partials/footer') %>